<!doctype html>
<html data-ng-app="favoriteApp" lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Minimal Front Sample</title>

    <link rel="stylesheet" href="libs/bulma/bulma.min.css">
    <script src="libs/angular/angular.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js "></script>
    <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.min.css " rel="stylesheet">
    <script src="js/favorite.js"></script>
  </head>
  <body data-ng-controller="FavoritesController">

    <section class="section">
      <div class="container">
        <h1 class="title">Favorite Manager</h1>

        <!-- HEADER -->
        <div class="box" data-ng-if="mode == 'view'">
          <h2 class="title">Main menu</h2>
          <div class="columns">
            <div class="column">
              <div class="select is-fullwidth">
                <select
                        data-ng-change="refresh()"
                        data-ng-model="categoryList.filter"
                        data-ng-options="item.id as format(item) for item in categories"
                        required="required">
                </select>
              </div>
            </div>
            <div class="column  is-narrow">
              <button class="button is-primary" data-ng-click="setMode('creationFavorite')">Add Favorite</button>
            </div>
            <div class="column  is-narrow">
              <button class="button is-primary" data-ng-click="setMode('creationCategory')">Add Category</button>
            </div>
            <div class="column  is-narrow">
              <button class="button is-primary" data-ng-click="setMode('categoryManagement')">Category Management</button>
            </div>
            <div class="column  is-narrow" data-ng-if="favoritesToDelete.length > 0">
              <button class="button is-danger" data-ng-click="deleteFavorite()">Delete Favorites</button>
            </div>
          </div>
        </div>

        <!-- FAVORITES FORMS -->
        <div class="box" data-ng-if="mode == 'creationFavorite'">
          <div class="columns">
            <div class="column">
              <h2 class="title">Definition of a new Favorite</h2>
              <form name="form" class="form-validation" novalidate role="form">
                <div class="field">
                  <label class="label">Link *</label>
                  <div class="control">
                    <input type="text" data-ng-model="favorite.link" class="input" required="required" />
                  </div>
                </div>
                <div class="field">
                  <label class="label">Label </label>
                  <div class="control">
                    <input type="text" data-ng-model="favorite.label" class="input" />
                  </div>
                </div>
                <div class="field">
                  <label class="label">Category *</label>
                  <div class="control">
                    <div class="select is-fullwidth">
                      <select data-ng-model="favorite.category" data-ng-options="item.id as item.label for item in realCategories" required="required"></select>
                    </div>
                  </div>
                </div>
                <button class="button is-primary" type="button" data-ng-disabled="form.$invalid" data-ng-click="createFavorite()">OK</button>
                <button class="button is-default" type="button" data-ng-click="cancel()">Cancel</button>
              </form>
            </div>
          </div>
        </div>

        <div class="box" data-ng-if="mode == 'updateFavorite'">
          <div class="columns">
            <div class="column">
              <h2 class="title">Updating Favorite</h2>
              <form name="form" class="form-validation" novalidate role="form">
                <div class="field">
                  <label class="label">Link *</label>
                  <div class="control">
                    <input type="text" data-ng-model="favorite.link" class="input" required="required" />
                  </div>
                </div>
                <div class="field">
                  <label class="label">Label </label>
                  <div class="control">
                    <input type="text" data-ng-model="favorite.label" class="input" />
                  </div>
                </div>
                <div class="field">
                  <label class="label">Category *</label>
                  <div class="control">
                    <div class="select is-fullwidth">
                      <select data-ng-model="favorite.category" data-ng-options="item.id as item.label for item in realCategories" required="required"></select>
                    </div>
                  </div>
                </div>
                <button class="button is-primary" type="button" data-ng-disabled="form.$invalid" data-ng-click="updateFavorite()">OK</button>
                <button class="button is-default" type="button" data-ng-click="cancel()">Cancel</button>
              </form>
            </div>
          </div>
        </div>

        <!-- CATEGORIES FORMS -->
        <div class="box" data-ng-if="mode == 'creationCategory'">
          <div class="columns">
            <div class="column">
              <h2 class="title">Definition of a new Category</h2>
              <form name="form" class="form-validation" novalidate role="form">
                <div class="field">
                  <label class="label">Label *</label>
                  <div class="control">
                    <input type="text" data-ng-model="category.label" class="input" required="required" />
                  </div>
                </div>
                <button class="button is-primary" type="button" data-ng-disabled="form.$invalid" data-ng-click="createCategory()">OK</button>
                <button class="button is-default" type="button" data-ng-click="cancel()">Cancel</button>
              </form>
            </div>
          </div>
        </div>

        <div class="box" data-ng-if="mode == 'updateCategory'">
          <div class="columns">
            <div class="column">
              <h2 class="title">Updating Category</h2>
              <form name="form" class="form-validation" novalidate role="form">
                <div class="field">
                  <label class="label">Label *</label>
                  <div class="control">
                    <input type="text" data-ng-model="category.label" class="input" required="required" />
                  </div>
                </div>
                <button class="button is-primary" type="button" data-ng-disabled="form.$invalid" data-ng-click="updateCategory()">OK</button>
                <button class="button is-default" type="button" data-ng-click="cancel()">Cancel</button>
              </form>
            </div>
          </div>
        </div>

        <!-- FAVORITES TABLE -->
        <div class="box" data-ng-if="mode != 'categoryManagement'">
          <div class="columns">
            <div class="column">
              <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <tr>
<!--
                <th class="is-narrow"><input type="checkbox" ng-model="checkBoxLeader.selected" ng-true-value="true" ng-false-value="false" ng-change="setAllFavoritesToDelete()"></th>
-->                
                  <th class="is-narrow"><input type="checkbox" ng-model="selectAll" ng-change="checkAll()"></th>
                  <th class="is-narrow"></th>
                  <th class="is-narrow">ID</th>
                  <th>Link</th>
                  <th class="is-narrow">Category</th>
                  <th class="is-narrow">Last Update</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-if="favorites.length == 0">
                  <td colspan="4">No data !</td>
                </tr>
                <tr data-ng-repeat="f in favorites | orderBy: sortCriteria">
                  <td class="is-narrow"><input type="checkbox" ng-model="favorites.selected" ng-change="setFavoritesToDelete(f.id)"></td>
                  <td class="is-narrow"><button class="button is-info is-small" data-ng-click="setUpdateFavorite(f)">Update</button></td>
                  <td>{{ f.id }}</td>
                  <td><a data-ng-href="{{f.link}}" target="_blank">{{ f.label }}</a></td>
                  <td>{{ f.categoryDto.label }}</a></td>
                  <td>{{ f.last_updated | date: 'yyyy-MM-dd' }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- CATEGORIES TABLE -->
        <div class="box"  data-ng-if="mode == 'categoryManagement'">
          <h2 class="title">categories Management</h2>
          <div class="columns">
            <div class="column">
              <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                  <tr>
                    <th class="is-narrow"></th>
                    <th class="is-narrow"></th>
                    <th class="is-narrow">ID</th>
                    <th>Label</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-if="categories.length == 0">
                    <td colspan="4">No data !</td>
                  </tr>
                  <tr data-ng-repeat="c in categories | orderBy: 'c.id'">
                    <td class="is-narrow"><button class="button is-danger is-small" data-ng-click="deleteCategory(c.id)">Delete</button></td>
                    <td class="is-narrow"><button class="button is-info is-small" data-ng-click="setUpdateCategory(c)">Update</button></td>
                    <td>{{ c.id }}</td>
                    <td>{{ c.label }}</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="is-narrow">
            <button class="button is-default" type="button" data-ng-click="cancel()">Cancel</button>
          </div>
        </div>
      </div>

      </div>
    </section>
  </body>
</html>